# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

project/common/.idea
project/common/common.iml
project/common/target
project/common/dependency-reduced-pom.xml

project/api-server/.idea
project/api-server/.vertx
project/api-server/api-server.iml
project/api-server/target
project/api-server/dependency-reduced-pom.xml


project/aggregator/.idea
project/aggregator/aggregator.iml
project/aggregator/target
project/aggregator/dependency-reduced-pom.xml

